[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "glew-cmake"]
	path = glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
